/* Networks-list */

.networks {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
}

.networks__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.networks__icon {
    fill: var(--icon-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .networks__link:hover &,
    .networks__link:focus & {
        fill: var(--main-background-color);
    }
}